@import url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,500&display=swap);
:root {
    --bcgc1-color: #ffe5d5;
    --bcgc2-color: #505050;
    --bcgc3-color: #b8b8b8;

    --logc1-color: #F4C303;
    --logc2-color: #F47C00;
    --logc3-color: #DE2B2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}

.MAINnav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #505050;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    max-height: 100px;
    margin-top: -100px;
    padding: 10px;
}

.MAINnav_div {
    display: flex;
    align-items: center;
    width: 100%;
}

.MAINnav_logo {
    display: flex;
    justify-content: flex-start;
    width: 74px;
    margin-left: 10px;
}

.MAINnav_logo_object {
    max-width: 100%;
    width: 64px;
}

.MAINnav_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.MAINnav_logged1 {
    display: flex;
    align-items: center;
    list-style: none;
}

.MAINnav_logged2 {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

.MAINnav_item {
    margin-left: 10px;
    margin-right: 10px;
}

.MAINnav_link {
    color: #ffe5d5;
}

i:hover::before {
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    color: var(--logc2-color)
}

/* LOGIN PAGE */

.LOGIN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 42vh;
    height: 60vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.LOGIN_logo {
    display: flex;
    justify-content: center;
    width: 74px;
    margin-left: 10px;
    margin-bottom: 25px;
}

.LOGIN_logo_object {
    max-width: 100%;
    width: 64px;
}

.LOGIN_label {  
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8b8b8;
    border-radius: 100px;
    cursor: pointer;
    padding: 0 10px;
}

.LOGIN_forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.LOGIN_loginform {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.LOGIN_registerform {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.LOGIN_inputform {
    width: 100%;
    height: 40px;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
}

.submit_btn {
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 20px;
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

.submit_btn:active {
    transform: scale(0.99);
    margin-top: 5px;
}

/* NEW VERSION COMPATIBLE STYLES */

.REG_alreadyuser {
    display: flex;
      justify-content: center;
  align-items: center;
    width: 100%;
    height: 25px;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
    margin-top: 20px;
}

.REG_alreadyuser_text {
    align-self: center;
}