@import url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,500&display=swap);
:root {
    --bcgc1-color: #ffe5d5;
    --bcgc2-color: #505050;

    --logc1-color: #F4C303;
    --logc2-color: #F47C00;
    --logc3-color: #DE2B2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    background-color: var(--logc3-color);
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 25vh;
}

.MAINnav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #505050;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    max-height: 100px;
    padding: 10px;
}

.MAINnav_div {
    display: flex;
    align-items: center;
    width: 100%;
}

.MAINnav_logo {
    display: flex;
    justify-content: flex-start;
    width: 74px;
    margin-left: 10px;
}
.MAINnav_logo_object {
    max-width: 100%;
    width: 64px;
}

.MAINnav_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MAINnav_logged1 {
    display: flex;
    align-items: center;
    list-style: none;
}

.MAINnav_logged2 {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

.MAINnav_item {
    margin-left: 10px;
    margin-right: 10px;
}

.MAINnav_link {
    color: #ffe5d5;
}

i:hover::before {
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    color: var(--logc2-color)
}