<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Wanna know how much you spend on daily, weekly or monthly basis? folD is the only product you need to know so!">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,500&display=swap" rel="stylesheet">

        <link href="/workspaces/gradeproject/assets/styles/styles.css" rel="stylesheet">

        <title>folD: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="MAINnavbar">
            <img src="workspaces/gradeproject/assets/images/Logo.png">
        </nav>

    </body>

    <main>
        {% block main %}{% endblock %   }
    </main>

    <footer>
        <p>X</p>
    </footer>
</html>