{% extends "folD/myapp/templates/layouts/base.html" %}

{% block title %}
    Accessing
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
        <div class="LOGIN">
            <div class="LOGIN_logo">
                <img src="{% static 'images/logo.png' %}" class="LOGIN_logo_object">
            </div>
            <div class="LOGIN_toggle">
                <label class="LOGIN_label">
                    <div class="LOGIN_checkboxinput">
                        <label for="check" class="LOGIN_label2"></label>
                        <div class="LOGIN_circle_div">
                            <div class="LOGIN_moving_circle"></div>
                        </div>
                    </div>
                </label>
            </div>
            <div class="LOGIN_forms">
                <div class="LOGIN_loginform">
                    <input type="text" placeholder="Username" class="LOGIN_inputform lgn" name="LOGIN_username">
                    <input type="password" placeholder="Password" class="LOGIN_inputform lgn" name="LOGIN_password">
                </div>
                <div class="LOGIN_registerform">
                    <input type="text" placeholder="Create Username" class="LOGIN_inputform rgstr" name="REGISTER_username">
                    <input type="password" placeholder="Create Password" class="LOGIN_inputform rgstr" name="REGISTER_password">
                    <input type="password" placeholder="Repeat Password" class="LOGIN_inputform rgstr" name="REGISTER_passwordcheck">
                </div>
            </div>
            <div class="LOGIN_submits">
                <div class="LOGIN_loginsubmit">
                    <button type="submit" class="submit_btn lgn">
                        Login
                    </button>
                </div>
                <div class="LOGIN_registersubmit">
                    <button type="submit" class="submit_btn rgstr">
                        Register
                    </button>
                </div>
            </div>

        </div>

    </form>
{% endblock %}