{% extends "layouts/base.html" %}

{% block title %}
    Accessing
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="LOGIN">
            <div class="LOGIN_logo">
                <img src="{% static 'images/logo.png' %}" class="LOGIN_logo_object">
            </div>
            <div class="LOGIN_forms">
                <div class="LOGIN_registerform">
                    {{ form.username|add_class:"LOGIN_inputform rgstr"|attr:"placeholder:Username" }}
                    {{ form.password1|add_class:"LOGIN_inputform rgstr"|attr:"placeholder:Password" }}
                    {{ form.password2|add_class:"LOGIN_inputform rgstr"|attr:"placeholder:Repeat Password" }}
                </div>
            </div>
            <div class="REG_alreadyuser">
                <p>Already have an accout? Login <a href="#">here</a>!</p>
            </div>
            <div class="LOGIN_submits">
                <div class="LOGIN_registersubmit">
                    <input type="submit" value="Register" class="submit_btn rgstr">
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{{form.username.label}}
{{form.username}}

{{form.password1.label}}
{{form.password1}}

{{form.password2.label}}
{{form.password2}}

<input type="submit" value="Create User">
