{% extends "layouts/base.html" %}

{% block title %}
    Accessing
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <form method="POST" action="http://127.0.0.1:8000/user/dashboard/">
        {% csrf_token %}
        {{form|crispy}}

        <div class="LOGIN">
            <div class="LOGIN_logo">
                <img src="{% static 'images/logo.png' %}" class="LOGIN_logo_object">
            </div>
            <div class="LOGIN_loginform">
                <input type="text" placeholder="Username" class="LOGIN_inputform lgn" name="LOGIN_username">
                <input type="password" placeholder="Password" class="LOGIN_inputform lgn" name="LOGIN_password">
            </div>
            <div class="LOGIN_regref">
                <p>Don't have an account yet? Create one <a href="/sign_up">Here</a></p>
            </div>
            <div class="LOGIN_loginsubmit">
                <button type="submit" class="submit_btn lgn">
                    Login
                </button>
            </div>
        </div>

    </form>
{% endblock %}