{% extends "layouts/layout.html" %}

{% load static widget_tweaks %}

{% block title %}
    Incomes
{% endblock %}

{% block main %}
    
        <div class="INC_container">
            <div class="INC_bar">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="INC_form">
                        <div class="INC_form_headline">
                            <p class="INC_form_headline_text">Add income</p>
                        </div>
                        <div class="INC_form_main">
                            <div class="INC_form_forms">
                                {{ form1.place }}
                                {{ form1.amount }}
                                {{ form1.wageday }}
                            </div>
                            <input type="submit" value="Add" class="INC_form_submitbutton">                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="INC_bar">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="INC_form">
                        <div class="INC_form_headline">
                            <p class="INC_form_headline_text">Add Savings</p>
                        </div>
                        <div class="INC_form_main">
                            <div class="INC_form_forms">
                                {{ form2.place }}
                                {{ form2.amount }}
                            </div>
                            <input type="submit" value="Add" class="INC_form_submitbutton">                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="INC_bar">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="INC_form">
                        <div class="INC_form_headline">
                            <p class="INC_invform_headline_text">Add Investments</p>
                        </div>
                        <div class="INC_form_main">
                            <div class="INC_form_forms">
                                {{ form3.place }}
                                {{ form3.amount }}
                                {{ form3.interest }}
                            </div>
                            <input type="submit" value="Add" class="INC_form_submitbutton">                            
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}