{% extends "layouts/layout.html" %}

{% load static widget_tweaks %}

{% block title %}
    Incomes
{% endblock %}

{% block main %}
    
        <div class="INC_container">
            <div class="INC_bar">
                <form method="POST" action="" class="INC_postform">
                    {% csrf_token %}
                    <div class="INC_form">
                        <div class="INC_form_headline">
                            <p class="INC_form_headline_text">Add income</p>
                        </div>
                        <div class="INC_form_main">
                            <div class="INC_form_forms">
                                {{ form1.place1 }}
                                {{ form1.amount1 }}
                                {{ form1.wageday }}
                            </div>
                            <input type="submit" value="Add" class="INC_form_submitbutton">                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="INC_bar">
                <form method="POST" action="" class="INC_postform">
                    {% csrf_token %}
                    <div class="INC_form">
                        <div class="INC_form_headline">
                            <p class="INC_form_headline_text">Add savings</p>
                        </div>
                        <div class="INC_form_main">
                            <div class="INC_form_forms">
                                {{ form2.place2 }}
                                {{ form2.amount2 }}
                            </div>
                            <input type="submit" value="Add" class="INC_form_submitbutton">                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="INC_bar">
                <form method="POST" action="" class="INC_postform">
                    {% csrf_token %}
                    <div class="INC_form">
                        <div class="INC_form_headline">
                            <p class="INC_form_headline_text">Add investments</p>
                        </div>
                        <div class="INC_form_main">
                            <div class="INC_form_forms">
                                {{ form3.place3 }}
                                {{ form3.amount3 }}
                                {{ form3.interest }}
                            </div>
                            <input type="submit" value="Add" class="INC_form_submitbutton">                            
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}