{% extends "/workspaces/gradeproject/folD/myapp/templates/layouts/layout.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    
    <div class="DAS_container">
        <div class="DAS_status">
            <div class="DAS_graph">  
                <p>x</p>
            </div>
            <div class="DAS_stage">
                <ul class="DAS_ul">
                    <div class="DAS_stage_part">
                        {% if expensessum %}
                            <li>Expenses: </li>
                            <li>${{ expensessum }}</li>
                        {% else %}
                            <li>Expenses: </li>
                            <li>None</li>
                        {% endif %}
                    </div> 
                    <div class="DAS_stage_part">
                        {% if balance %}
                            <li>Balance: </li>
                            <li> ${{ balance }}</li>
                        {% else %}
                            <li>Balance: </li>
                            <li>None</li>
                        {% endif %}
                    </div> 
                </ul>
            </div>
        </div>
        <div class="DAS_expenses">
            <div class="DAS_headline">
                <p class="DAS_headline_text">Expenses</p>
            </div>
            <div class="DAS_expenses_header">
                <div class="DAS_expenses_header_textdiv">
                    <p class="DAS_header_text">Place</p>
                </div>
                <div class="DAS_expenses_header_textdiv">
                    <p class="DAS_header_text">Price</p>
                </div>
            </div>
            <div class="DAS_expenses_data">
                <ul>
                    {% for item in expenses %}
                        <div class="DAS_expenses_data_item">
                            <li>{{ item.place }}</li>
                            <li>-${{ item.amount }}</li>
                        </div>
                    {% endfor %}
                </ul>
            </div> 
        </div>
        <div class="DAS_ISI">
            <div class="DAS_incomes">
                <div class="DAS_headline">
                    <p class="DAS_headline_text">Incomes</p>
                </div>
                <div class="DAS_expenses_header">
                    <div class="DAS_expenses_header_textdiv">
                        <p class="DAS_header_text">Place</p>
                    </div>
                    <div class="DAS_expenses_header_textdiv">
                        <p class="DAS_header_text">Amount</p>
                    </div>
                </div>
                <div class="DAS_expenses_data">
                    <ul>
                        {% for item in incomes %}
                            <div class="DAS_expenses_data_item">
                                <li>{{ item.place1 }}</li>
                                <li>+${{ item.amount1 }}</li>
                            </div>
                        {% endfor %}
                    </ul>
                </div> 
            </div>
            <div class="DAS_savings">
                <div class="DAS_headline">
                    <p class="DAS_headline_text">Savings & Investments</p>
                </div>
                <div class="DAS_expenses_header">
                    <div class="DAS_expenses_header_textdiv">
                        <p class="DAS_header_text">Type</p>
                    </div>
                    <div class="DAS_expenses_header_textdiv">
                        <p class="DAS_header_text">Amount</p>
                    </div>
                </div>
                <div class="DAS_expenses_data">
                    <ul>
                        {% if saved %}
                            <div class="DAS_expenses_data_item">
                                <li>Money saved:</li>
                                <li>${{ saved }}</li>
                            </div>
                        {% else %}
                            <div class="DAS_expenses_data_item">
                                <li>Money saved:</li>
                                <li>None</li>
                            </div>    
                        {% endif %}
                        {% if invested %}
                        <div class="DAS_expenses_data_item">
                            <li>Money invested:</li>
                            <li>${{ invested }}</li>
                        </div>                        
                        {% else %}
                        <div class="DAS_expenses_data_item">
                            <li>Money invested:</li>
                            <li>None</li>
                        </div>   
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
