{% extends "/workspaces/gradeproject/folD/myapp/templates/layouts/layout.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    
    <div class="DAS_container">
        <div class="DAS_status">
            <div class="DAS_graph">  
                <p>x</p>
            </div>
            <div class="DAS_stage">
                <p>x</p>
            </div>
        </div>
        <div class="DAS_expenses">
            <div class="DAS_expenses_headline">
                <p class="DAS_expenses_headline_text">Expenses</p>
            </div>
            <div class="DAS_expenses_header">
                <div class="DAS_expenses_header_textdiv">
                    <p class="DAS_expenses_header_text1">Place</p>
                </div>
                <div class="DAS_expenses_header_textdiv">
                    <p class="DAS_expenses_header_text2">Price</p>
                </div>
            </div>
            <div class="DAS_expenses_data">
                <ul>
                    {% for item in data %}
                        <div class="DAS_expenses_data_item">
                            <li>{{ item.place }}</li>
                            <li>-{{ item.amount }}$</li>
                        </div>
                    {% endfor %}
                </ul>
            </div> 
        </div>
        <div class="DAS_ISI">
            <div class="DAS_incomes">
                <p>x</p>
            </div>
            <div class="DAS_savings">
                <p>x</p>
            </div>
            <div class="DAS_investments">
                <p>x</p>
            </div>
        </div>
    </div>

{% endblock %}
