{% extends "/workspaces/gradeproject/folD/myapp/templates/layouts/layout.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    
    <div class="DAS_container">
        <div class="DAS_status">
            <div class="DAS_graph">  
                <p>x</p>
            </div>
            <div class="DAS_stage">
                <p>x</p>
            </div>
        </div>
        <div class="DAS_expenses">
            <ul>
                {% for item in data %}
                    <li>{{ item.place }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="DAS_incomes">
            <p>x</p>
        </div>
    </div>

{% endblock %}
