{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Wanna know how much you spend on daily, weekly or monthly basis? folD is the only product you need to know so!">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

        <title>folD!</title>

    </head>

    <body>

        <div class="MAINlogin_register">
            <div class="MAINnav_logo">
                <img src="{% static 'images/logo.png' %}" class="MAINnav_logo_object">
            </div>
            <ul class="MAINlogin_register_buttons">
                <li class="MAINnav_item"><a class="MAINnav_link" href="#">Login</a></li>
                <li class="MAINnav_item"><a class="MAINnav_link" href="#">Register</a></li>
            </ul>
        </div>

    </body>

    <footer>
        <p>X</p>
    </footer>
</html>