{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Wanna know how much you spend on daily, weekly or monthly basis? folD is the only product you need to know so!">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

        <script src="{% static 'scripts/togglelogin.js' %}"></script>

        <title>folD!</title>

    </head>

    <body>

        <div class="LOGIN">
            <div class="LOGIN_logo">
                <img src="{% static 'images/logo.png' %}" class="LOGIN_logo_object">
            </div>
            <div class="LOGIN_toggle">
                <label class="LOGIN_label">
                    <div class="LOGIN_checkboxinput">
                        <label for="check" class="LOGIN_label2"></label>
                        <div class="LOGIN_circle_div">
                            <div class="LOGIN_moving_circle"></div>
                        </div>
                    </div>
                </label>
            </div>
            <div class="LOGIN_forms">
                <div class="LOGIN_loginform">
                    <input type="text" placeholder="Username" class="LOGIN_inputform lgn">
                    <input type="password" placeholder="Password" class="LOGIN_inputform lgn">
                </div>
                <div class="LOGIN_registerform">
                    <input type="text" placeholder="Create Username" class="LOGIN_inputform rgstr">
                    <input type="password" placeholder="Create Password" class="LOGIN_inputform rgstr">
                    <input type="password" placeholder="Repeat Password" class="LOGIN_inputform rgstr">
                </div>
            </div>
            <div class="LOGIN_submits">
                <div class="LOGIN_loginsubmit">
                    <button type="button" class="submit_btn lgn">
                        Login
                    </button>
                </div>
                <div class="LOGIN_registersubmit">
                    <button type="button" class="submit_btn rgstr">
                        Register
                    </button>
                </div>
            </div>

        </div>

    </body>
    
</html>