{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Wanna know how much you spend on daily, weekly or monthly basis? folD is the only product you need to know so!">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

        <title>folD!</title>

    </head>

    <body>

        <div class="LOGIN">
            <div class="LOGIN_logo">
                <img src="{% static 'images/logo.png' %}" class="LOGIN_logo_object">
            </div>
            <div class="LOGIN_buttons">
                <div class="LOGIN_button">
                    <button type="button" class="toggle_btn LOGIN_switch">
                        Login
                    </button>
                </div>
                <div class="LOGIN_button">
                    <button type="button" class="toggle_btn LOGIN_switch">
                        Register
                    </button>
                </div>
            </div>
            <div class="LOGIN_forms">
                <div class="LOGIN_loginform">
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                </div>
                <div class="LOGIN_registerform">
                    <input type="text" placeholder="Create Username">
                    <input type="password" placeholder="Create Password">
                    <input type="password" placeholder="Repeat Password">
                </div>
            </div>
            <div class="LOGIN_submit">
                <button type="button" class="submit_btn">
                    Submit
                </button>
            </div>
        </div>

    </body>
    
</html>