{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

    <form method="POST" action="">
        <div class="SET_container">
            <div class="SET_headline">
                <p class="SET_headline_text">Settings</p>
            </div>
            <div class="SET_logout">
                <a href="{% url 'logout' %}" class="SET_logout_icon">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </form>

{% endblock %}
