{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Wanna know how much you spend on daily, weekly or monthly basis? folD is the only product you need to know so!">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title>folD: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="MAINnav">
            <div class="MAINnav_div">
                <div class="MAINnav_logo">
                    <img src="{% static 'images/logo.png' %}" class="MAINnav_logo_object">
                </div>
                <div class="MAINnav_buttons">
                    <div class="MAINnav_buttons1">
                        <ul class="MAINnav_logged1">
                            <li class="MAINnav_item">
                                <a class="MAINnav_link" href="{% url 'dashboard' %}">
                                    <i class="fa-solid fa-gauge fa-2x"></i>
                                </a>
                            </li>
                            <li class="MAINnav_item">
                                <a class="MAINnav_link" href="{% url 'add_expense' %}">
                                    <i class="fa-solid fa-wallet fa-2x"></i>
                                </a>
                            </li>
                            <li class="MAINnav_item">
                                <a class="MAINnav_link" href="{% url 'incomes' %}">
                                    <i class="fa-solid fa-briefcase fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="MAINnav_buttons2">
                        <ul class="MAINnav_logged2">
                            <li class="MAINnav_item">
                                <a class="MAINnav_link" href="{% url 'settings' %}">
                                    <i class="fa-solid fa-gear fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </body>

    <main>
        {% block main %}{% endblock %}
    </main>

</html>