@import url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,500&display=swap);
:root {
    --bcgc1-color: #FFE5D5;
    --bcgc2-color: #505050;

    --logc1-color: #F4C303;
    --logc2-color: #F47C00;
    --logc3-color: #DE2B2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    background-color: var(--logc3-color);
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 25vh;
}

.MAINnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #505050;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 80%;
    max-height: 80px;
    margin: 0 auto;
}

.MAINnav_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.MAINnav_buttons {
    display: flex;
    margin-right: 20px;
    flex-direction: row;
}

.MAINnav_link {
    color: var(--bcgc1-color);
    text-decoration: none;
    margin-right: 20px;
}

/*.MAINnav_logo {
    flex: 0 0 auto;
    height: 80px;
    width: auto;
}

.MAINnav_logo img {
    max-height: 80%;
    width: auto;
}

.MAINnav_buttons {
    display: flex;
    list-style: none;
    padding: 0;
}*/
