{% extends "layout.html" %}

{% load static widget_tweaks %}

{% block title %}
    Add expense
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_expense.css' %}">
{% endblock %}

{% block main %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="EXP_container">
            <div class="EXP_headline">
                <p class="EXP_headline_text">Add expense</p>
            </div>
            <div class="EXP_main">
                <div class="EXP_forms">
                    {{ form.amount|add_class:"EXP_input"|attr:"placeholder:Amount" }}
                    {{ form.place|add_class:"EXP_input"|attr:"placeholder:Place" }}
                    {{ form.place_type|add_class:"EXP_input"|attr:"placeholder:Place type" }}
                </div>
                <input type="submit" value="Add" class="EXP_button">
            </div>
        </div>
    </form>

{% endblock %}