{% extends "layout.html" %}

{% load static %}

{% block title %}
    Settings
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block main %}

    <form method="POST" action="">
        <div class="SET_container">
            <div class="SET_headline">
                <p class="SET_headline_text">Settings</p>
            </div>
            <form method="POST" action="" class="SET_postform1">
                {% csrf_token %}
                <div class="SET_flush">
                    <input type="submit" name="flush_data" value="Flush Data" class="SET_reset_button">
                </div>
            </form>
            <div class="SET_logout">
                <a href="{% url 'logout' %}" class="SET_logout_icon">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </form>

{% endblock %}