{% extends "layout.html" %}

{% load static %}

{% block title %}
    Settings
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block main %}

    <div class="container">
        <div class="headline">
            <p class="headline_text">Settings</p>
        </div>
        <div class="trading212_connect">
            <div class="inside_headline">
                <p class="headline_text">Connect your portfolio!</p>
            </div>
            <form method="POST" action="" class="postform1">
                {% csrf_token %}
                <div class="input_field">
                    <!-- sem pojde DTL, nieco taketo {{ form2.place }}-->
                    {{ investmentform.key }}
                </div>
                <div class="submit_field">
                    <input type="submit" name="submit_api_key" value="Connect" class="submit_field_button">
                </div>
            </form>
        </div>
        <form method="POST" action="" class="postform2">
            {% csrf_token %}
            <div class="flush">
                <input type="submit" name="flush_data" value="Flush Data" class="reset_button">
            </div>
        </form>
        <div class="logout">
            <a href="{% url 'logout' %}" class="logout_icon">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>

{% endblock %}