.ACCESS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 42vh;
    height: 60vh;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.logo {
    display: flex;
    justify-content: center;
    width: 74px;
    margin-bottom: 25px;
}

.logo_object {
    max-width: 100%;
}

.label {  
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8b8b8;
    border-radius: 100px;
    cursor: pointer;
    padding: 0 10px;
}

.lines {
    width: 100%;
    max-width: 600px;
}

.forms {
    width: 100%;
}

.loginform {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerform {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.inputform {
    width: 100%;
    height: 40px;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
}

.submit_btn {
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 20px;
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.submit_btn:active {
    transform: scale(0.99);
    margin-top: 5px;
}

.alreadyuser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40px;
    background-color: #b8b8b8;
    border-radius: 100px;
    margin-top: 20px;
}

.alreadyuser_text {
    align-self: center;
}
