.SET_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SET_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 30%;
    min-width: 350px;
    max-width: 700px;
    height: 10vh;
    padding: 10px;
    border-radius: 30px;
    margin:0 auto;
    margin-top: 10vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.SET_headline_text {
    display: flex;
    align-items: center;
    font-size: 150%;
    color: black;
    height: 60%;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
}

.SET_postform2 {
    display: flex;
    justify-content: center;
}

.SET_flush {
    display: flex;
    justify-content: center;
    width: 100%;
}

.SET_reset_button {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 25px;
    background: rgb(237, 41, 6);
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.SET_logout {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 25px;
    background: rgb(237, 41, 6);
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.SET_logout_icon {
    color:#505050;
    text-decoration: none;
}
