@import url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,500&display=swap);
:root {
    --bcgc1-color: #ffe5d5;
    --bcgc2-color: #505050;
    --bcgc3-color: #b8b8b8;

    --logc1-color: #F4C303;
    --logc2-color: #F47C00;
    --logc3-color: #DE2B2B;
}

@media only screen and (max-width: 1200px) {
    .INC_container {
        flex-wrap: wrap;
    }

    .DAS_status,
    .DAS_expenses,
    .DAS_ISI {
        flex-basis: 100%;
        max-width: 100%;
    }
    
    .DAS_container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 510px) {
    .DAS_ul {
        flex-direction: column;
        align-items: center;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}

main {
    width: 100%;
}

.MAINnav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 93.5%;
    min-width: 350px;
    background-color: #505050;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    height: 10vh;
    top: 40px;
    padding: 10px;
}

.MAINnav_div {
    display: flex;
    align-items: center;
    width: 100%;
}

.MAINnav_logo {
    display: flex;
    justify-content: flex-start;
    width: 74px;
    margin-left: 10px;
}

.MAINnav_logo_object {
    max-width: 100%;
    width: 64px;
}

.MAINnav_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.MAINnav_logged1 {
    display: flex;
    align-items: center;
    list-style: none;
}

.MAINnav_logged2 {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

.MAINnav_item {
    margin-left: 10px;
    margin-right: 10px;
}

.MAINnav_link {
    color: #ffe5d5;
}

i:hover::before {
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    color: var(--logc2-color)
}

/* LOGIN PAGE */

.LOGIN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 42vh;
    height: 60vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.LOGIN_logo {
    display: flex;
    justify-content: center;
    width: 74px;
    margin-left: 10px;
    margin-bottom: 25px;
}

.LOGIN_logo_object {
    max-width: 100%;
    width: 64px;
}

.LOGIN_label {  
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8b8b8;
    border-radius: 100px;
    cursor: pointer;
    padding: 0 10px;
}

.LOGIN_forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.LOGIN_loginform {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.LOGIN_registerform {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.LOGIN_inputform {
    width: 100%;
    height: 40px;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
}

.submit_btn {
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 20px;
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

.submit_btn:active {
    transform: scale(0.99);
    margin-top: 5px;
}

/* NEW VERSION COMPATIBLE STYLES */

.REG_alreadyuser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
    margin-top: 20px;
}

.REG_alreadyuser_text {
    align-self: center;
}

/* DASHBOARD PAGE */

.DAS_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 83%;
    height: 77vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    margin-top: 12vh;
    gap: 2%
}

.DAS_status {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 2vh;
}

.DAS_graph {
    width: 100%;
    height: 58vh;
    background-color: #505050;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.DAS_stage {
    display: flex;
    align-items: center;
    width: 100%;
    height: 17vh;
    background-color: #505050;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.DAS_ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    gap: 20px;
}

.DAS_stage_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 40px;
    margin-bottom: 1%;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;    
}

.DAS_expenses {
    width: 35%;
    height: 77vh;
    background-color: #505050;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.DAS_headline {
    display: flex;
    justify-content: center;
}

.DAS_headline_text {
    font-size: large;
    color: black;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 4%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
}

.DAS_expenses_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*width: calc(100% - 12px);*/
    height: 40px;
    margin-bottom: 2%;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
}

.DAS_header_text {
    font-weight: bold;
}

.DAS_expenses_data {
    overflow-y: auto;
    max-height: 85%;
}

.DAS_expenses_data ul {
    list-style-type: none;
    padding: 0;
}

.DAS_expenses_data::-webkit-scrollbar {
    width: 12px;
}

.DAS_expenses_data::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 10px;
}

.DAS_expenses_data::-webkit-scrollbar-track {
    background-color: #d1d1d1;
    border-radius: 10px;
}

.DAS_expenses_data::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.DAS_expenses_data_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-bottom: 1%;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
}

.DAS_ISI {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 2vh;
}

.DAS_incomes, .DAS_savings {
    width: 100%;
    height: 37.5vh;
    background-color: #505050;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

/* ADD EXPENSE PAGE */

.EXP_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 25%;
    min-width: 350px;
    max-width: 500px;
    height: 10vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    margin-top: 10vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.EXP_headline_text {
    font-size: x-large;
    color: black;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
}

.EXP_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 25%;
    min-width: 350px;
    max-width: 500px;
    height: 35vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    margin-top: 5vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.EXP_forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.EXP_input {
    width: 100%;
    height: 40px;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
}

.EXP_button {
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 25px;
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

/* ADD INC PAGE */

.INC_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    width: 90%;
    height: 77vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    margin-top: 15vh;
    gap: 2%
}

.INC_part {
    display: flex;
    flex-direction: column;
}

.INC_bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.INC_postform1 {
    width: 100%;
}

.INC_form_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    height: 10vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.INC_form_headline_text {
    font-size: x-large;
    color: black;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
}

.INC_form_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    height: 30vh;
    padding: 30px;
    border-radius: 30px;
    margin:0 auto;
    margin-top: 2.5vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.INC_form_forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.INC_incform_input {
    width: 100%;
    height: 40px;
    background-color: #b8b8b8;
    border-radius: 100px;
    padding: 0 10px;
    border: #b8b8b8;
}

.INC_form_submitbutton {
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 25px;
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

.INC_postform2 {
    display: flex;
    justify-content: center;
}

.INC_reset {
    width: 100%;
}

.INC_reset_button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 25px;
    background: rgb(237, 41, 6);
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* SETTINGS PAGE */

.SET_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SET_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 30%;
    min-width: 350px;
    max-width: 700px;
    height: 10vh;
    padding: 10px;
    border-radius: 30px;
    margin:0 auto;
    margin-top: 10vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.SET_headline_text {
    font-size: 150%;
    color: black;
    height: 60%;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
}

.SET_postform2 {
    display: flex;
    justify-content: center;
}

.SET_flush {
    display: flex;
    justify-content: center;
    width: 100%;
}

.SET_reset_button {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 25px;
    background: rgb(237, 41, 6);
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.SET_logout {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 8px 22px;
    border-radius: 6px;
    margin-top: 25px;
    background: rgb(237, 41, 6);
    transition: all 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.SET_logout_icon {
    color:#505050;
    text-decoration: none;
}

