@import url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,500&display=swap);
:root {
    --bcgc1-color: #ffe5d5;
    --bcgc2-color: #505050;
    --bcgc3-color: #b8b8b8;

    --logc1-color: #F4C303;
    --logc2-color: #F47C00;
    --logc3-color: #DE2B2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    background: linear-gradient(to left, var(--logc1-color), var(--logc3-color));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}

main {
    width: 100%;
}
