{% extends "base.html" %}

{% load static crispy_forms_tags widget_tweaks %}

{% block title %}
    Accessing
{% endblock %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="ACCESS">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" class="logo_object">
            </div>
            <div class="forms">
                <div class="loginform">
                    <input type="text" placeholder="Username" class="inputform lgn" name="username">
                    <input type="password" placeholder="Password" class="inputform lgn" name="password">
                </div>
            </div>
            <div class="alreadyuser">
                Don't have an accout? Create one <a href="{% url 'register' %}" style="margin-left: 1mm;">here</a>!
            </div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {{ form.errors }}
            <div class="submits">
                <div class="LOGIN_loginsubmit">
                    <input type="submit" value="Login" class="submit_btn rgstr">
                </div>
            </div>
        </div>
    </form>

{% endblock %}