{% extends "base.html" %}

{% block title %}
    Accessing
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="LOGIN">
            <div class="LOGIN_logo">
                <img src="{% static 'images/logo.png' %}" class="LOGIN_logo_object">
            </div>
            <div class="LOGIN_forms">
                <div class="LOGIN_loginform">
                    <input type="text" placeholder="Username" class="LOGIN_inputform lgn" name="username">
                    <input type="password" placeholder="Password" class="LOGIN_inputform lgn" name="password">
                </div>
            </div>
            <div class="REG_alreadyuser">
                Don't have an accout? Create one <a href="{% url 'register' %}" style="margin-left: 1mm;">here</a>!
            </div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {{ form.errors }}
            <div class="LOGIN_submits">
                <div class="LOGIN_loginsubmit">
                    <input type="submit" value="Login" class="submit_btn rgstr">
                </div>
            </div>
        </div>
    </form>

{% endblock %}