{% extends "base.html" %}

{% load static crispy_forms_tags widget_tweaks %}

{% block title %}
    Accessing
{% endblock %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="ACCESS">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" class="logo_object">
            </div>
            <div class="forms">
                <div class="registerform">
                    {{ form.username|add_class:"inputform rgstr"|attr:"placeholder:Username"|attr:"name:username" }}
                    {{ form.password1|add_class:"inputform rgstr"|attr:"placeholder:Password" }}
                    {{ form.password2|add_class:"inputform rgstr"|attr:"placeholder:Repeat Password" }}
                </div>
            </div>
            <div class="alreadyuser">
                Already have an accout? Login <a href="{% url 'login' %}" style="margin-left: 1mm;">here</a>!
            </div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {{ form.errors }}
            <div class="submits">
                <div class="registersubmit">
                    <input type="submit" value="Register" class="submit_btn rgstr">
                </div>
            </div>
        </div>
    </form>
    
{% endblock %}
